.history

# Cmake
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# JS
node_modules

# Build
dist

# EMSCRIPTEN build dir - keep code only. Other guys here are binary
engines/**/*
!engines/**/*.js
!engines/**/*.ts
